*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(22,44,19,1) 22%, rgba(68,138,58,1) 100%);*/
  
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgb(18, 127, 141)  100%);
  background-size: 500% 100%;
  animation: degrade-animado 8s infinite alternate;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes degrade-animado{
  0%{
      background-position-x: 0%;
  }
  100%{
      background-position-x: 100%;
  }
}